<script>
  //Cart init and load from localStorage  
  let cartInit;
  let userCart = [];
  let cartIsEmpty = `<p>No products added</p>`;
  let cartContainer = document.getElementById('cart-container');

  window.onload = _=> {
    initCartDom();
  }

  const initCartDom = _=> {
    userCart = getFromLocalStorage();
    
    if(userCart.length == 0)  {
      cartContainer.innerHTML = cartIsEmpty;
      return;
    }

    userCart.forEach((element, index) => {
      cartInit = `
        <article class="card product-item">
          <header class="card__header">
            <p class="product__title">${element.title}</p>
          </header>
          <div class="card__content">
            <p class="product__price">${element.price}</p>
            <p class="product__description">${element.description}</p>
          </div>
          <div class="card__actions">
            <button onclick="removeFromCart(${index})" class="btn">
              Remove from cart
            </button>
          </div>
        </article>
      `;
      cartContainer.innerHTML += cartInit;
    });
  }
</script>